/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Josefin Sans:300,400,500,600,700";
body {
    font-family: 'Josefin Sans', sans-serif;
    background: #fafafa;
}

.bg-image {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 150px;
    height: 150px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

h6 {
    color:gray;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 5px 5px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #f3f3f3;
    color: #000;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f78000;
    color: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #f78000;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #f78000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle{
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 10px;
    min-height: 100vh;
    transition: all 0.3s;
}

.column {
    float: left;

  }
  
  .left {
    width: 30%;
  }
  
  .right {
    width: 70%;
  }

.input-field{
    padding: 0 20px 0 20px;
    margin-bottom: 10px;
  }

  .submit1 {
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    text-align: center;
    height: 35px;
    width: 125px;
    margin-top: 30px;
    background: #D66161;
    border-radius: 25px;
    transition: .4s;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.2);
}
.submit1:hover{
    background: #0094FF;
    text-align: center;
    color: #fff;
}

.submit2 {
    display: block;
    position: fixed;
    margin-left: auto;
    margin-right: 0;
    border: none;
    outline: none;
    text-align: center;
    height: 35px;
    width: 40%;
    background: #D66161;
    border-radius: 25px;
    transition: .4s;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.2);
}
.submit2:hover{
    background: #0094FF;
    text-align: center;
    color: #fff;
}

.submit3 {
    border: none;
    outline: none;
    text-align: center;
    height: 35px;
    width: 180px;
    background: #D66161;
    border-radius: 25px;
    transition: .4s;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.2);
}
.submit3:hover{
    background: #0094FF;
    text-align: center;
    color: #fff;
}



.btn{
    padding-top: 12px;
}

.btn:hover{
    color: rgba(255, 166, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 


.nav-link {
    color: #000;
    margin-top: 5px;
}

.task {
    width: 500px;
    height: 100px;
    left: 90px;
    top: 342px;
    padding-top: 20px;
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#flexCheckDefault:checked + .form-check-label {
    text-decoration: line-through;
  }

.form-check-label{
    font-size: larger;
    color: #754646;
    padding-top: 2.5px;
    padding-left: 20px;
    position: relative;
}

.form-check-label[type="checkbox"]:checked {
    text-decoration: line-through;
}

.form-check-input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form-check-input[type="checkbox"]:checked {
    background-color: #A6FFAF;
    border-color: #A6FFAF;
  }
  
  .form-check-input[type="checkbox"]:focus {
    box-shadow: 0 0 0 3px #4DB857;
  }
  
  .badge{
    padding-top: 5px;
    border-radius: 10px;
    margin-top: 10px;
    width: auto;
    height: auto;
  }

  .text h5{
    margin-top: 20px;
}

h6{
    margin-top: 0;
}
  

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 850px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

    .left{
        width: 100%;
		float: none;
		overflow: hidden;
	}

    .right{
        width: 200%;
		float: none;
	}

}