@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
@import "https://fonts.googleapis.com/css?family=Josefin Sans:300,400,500,600,700";

*{
    font-family: 'Josefin Sans', sans-serif;

}
.wrapper{
    background: #D2E9D7;
    padding: 0 20px 0 20px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.row{
    width: 1000px;
    height: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.side-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}

img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -13px;
}

.text p{
    color: #fff;
    font-size: 18px;
}
i{
    font-weight: 400;
    font-size: 20px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input-box{
    width: 330px;
    border-radius: 25px;
    box-sizing: border-box;
}
.input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 35px;
}
.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 0 20px 0 20px;
    margin-top: 10px;
    margin-bottom: 1opx;
}
.input{
    height: 40px;
    width: 330px;
    background: rgba(113, 174, 120, 0.12);
    border: none;
    /* border-bottom: 1px solid rgba(0,0,0,0.2); */
    outline: none;
    border-radius: 25px;
    margin-bottom: 10px;
    color: #40414a;
}
.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 35px;
    pointer-events: none;
    transition: .5s;
}
.input-field .input:focus ~ label{
    top: -10px;
    font-size: 13px;
}
.input-field .input:valid ~ label{
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}
.input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #743ae1;
}

.submit{
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35px;
    width: 245px;
    background: #D66161;
    border-radius: 25px;
    transition: .4s;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.2);
}
.submit:hover{
    background: #0094FF;
    text-align: center;
    color: #fff;
}

.google{
    border: none;
    outline: none;
    height: 35px;
    width: 330px;
    background: #FFB800;
    border-radius: 25px;
    transition: .4s;
    
}
.google:hover{
    background: #0094FF;
    color: #fff;
}

.facebook{
    border: none;
    outline: none;
    height: 35px;
    width: 330px;
    margin-bottom: 30px;
    background: #FFB800;
    border-radius: 25px;
    transition: 0.4s;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.2);
}
.facebook:hover{
    background:#0094FF;
    color: #fff;
}
.signin{
    text-align: center;
    font-size: smaller;
    margin-bottom: 30px;
    margin-top: 10px;
}

.terms{
    text-align: left;
    font-size: smaller;
    margin-bottom: 20px;
}
span a{
    text-decoration: none;
    font-weight: 700;
    color: #0094FF;
    transition: .5s;
}
span a:hover{
    text-decoration: underline;
    color: #0094FF;
}
@media only screen and (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;

    }
    img{
        width: 106.5%;
        position: absolute;
    }
    
    .text p,i{
        font-size: 17px;
    }
    .row{
        max-width: 420px;
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
    }
}